---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
---

<Layout title="Chat With PDF">
  <div class="relative h-full w-full bg-slate-950">
    <div
      class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
    >
    </div>
    <div
      class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
    >
    </div>
  </div>
  <main class="grid place-content-center min-h-screen w-screen">
    <h1 class="text-6xl opacity-70 font-bold text-center pb-10 text-white">
      Chat with your PDF
    </h1>
    <section class="container w-[1000px] max-w-xl h-64 text-white">
      <App client:idle />
    </section>
  </main>
</Layout>

<style></style>
